fastapi==0.110.1
uvicorn==0.25.0
python-dotenv==1.2.2
python-multipart==0.0.24
bcrypt
supabase==2.28.3
postgrest==2.28.3
storage3==2.28.3
realtime==2.28.3

httpx==0.28.1
requests==2.33.1

pydantic==2.12.5
email-validator==2.3.0

resend==2.27.0
